NOEMA_MODEL_PATH=../Models/Mistral-NeMo-Minitron-8B-Instruct.Q4_K_M.gguf
NOEMA_VERBOSE=1
NOEMA_CONTEXT_SIZE=8192
NOEMA_N_GPU_LAYERS=-1
NOEMA_ENABLE_MONITORING=0
NOEMA_SUPPRESS_STARTUP_LOGS=1
NOEMA_FAST_EXIT=1
